<html>
	<h1>Rentals</h1>

	{% for agency, listings in agency_listings.items() %}
		<h2>{{ agency }}</h2>
		<ul>
			{% for listing in listings %}
				<li>
					<h3>{{ listing["title"] }}</h3>
					<ul>
						<li><b>Price: </b>{{ listing["price"] }}</li>
						<li><b>Bed/Bath: </b>{{ listing["bed/bath"] }}</li>
						<li><b>Size: </b>{{ listing["size"] }}</li>
						<li><b>URL: </b><a href={{ listing["url"]}}>{{ listing["url"] }}</a></li>
					</ul>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
</html>