<!DOCTYPE html>
<html lang="en">
  <title>Rentals!</title>
  <body>
    <h1>Rentals</h1>
    <ul>
      {% for agency in agency_listings.keys() %}
        <li><a href={{"#%s" % agency}}>{{ agency.capitalize().replace('_', ' ') }}</a></li>
      {% endfor %}
    </ul>

    <table>
    {% for agency, listings in agency_listings.items() %}
      <tr><td colspan=2><h2><a name={{agency}}>{{ agency.capitalize().replace('_', ' ') }}</a></h2></td></tr>
        {% for listing in listings %}
          <tr>
            <td colspan=2><b><a target="blank" href={{ listing["url"]}}>{{ listing["title"] }}</a></b></td>
          </tr>
          <tr>
            <td><b>Address: </b>{{ listing["address"] }}</td>
            <td><b>Price: </b>{{ listing["price"] }}</td>
          </tr>
          <tr>
            <td><b>Bed/Bath: </b>{{ listing["bed/bath"] }}</td>
            <td><b>Size: </b>{{ listing["size"] }}</td>
          </tr>
          <tr><td><br \></td></tr>
        {% endfor %}
        <tr><td colspan=2><hr \></td></tr>
    {% endfor %}
    </table>
  </body>
</html>